<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAutenticacao</servlet-name>
        <servlet-class>br.senac.sc.ServletAutenticacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecursoGerente</servlet-name>
        <servlet-class>br.senac.sc.ServletRecursoGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecursoUsuario</servlet-name>
        <servlet-class>br.senac.sc.ServletRecursoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostraUsuario</servlet-name>
        <servlet-class>br.senac.sc.ServletMostraUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>br.senac.sc.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrador</servlet-name>
        <servlet-class>br.senac.sc.ServletRecursoAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAutenticacao</servlet-name>
        <url-pattern>/autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecursoGerente</servlet-name>
        <url-pattern>/ServletGer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecursoUsuario</servlet-name>
        <url-pattern>/ServletUsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostraUsuario</servlet-name>
        <url-pattern>/mostra_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrador</servlet-name>
        <url-pattern>/ServletAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
